<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sense.mapper.FactorsMapper">

    <select id="selectLatestByDeviceIdAndNodeId" resultType="com.sense.entity.SysDeviceHistorydata">
        select *
        from sys_device_historydata
        <where>deviceId = #{deviceId} and nodeId = #{nodeId}</where>
        order by recordTime desc
        limit 1
    </select>
</mapper>
